<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %}{{ page.title }} &lsaquo; {% endif %}{{ site.name }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pygment_trac.css">
    <script src="{{ site.baseurl }}/assets/js/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="{{ site.baseurl }}/assets/img/ubuntu-logo.png" alt="" style="border: none;">
        <h1 class="header"><a href="{{ site.baseurl }}/">Ubuntu install and tips</a></h1>
        <p class="header"></p>

        <p class="header">This project is maintained by <a class="header name" href="http://nicolas-brousse.github.com">nicolas-brousse</a></p>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
        <p><a href="{{ site.baseurl }}/">All pages</a></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
